.header {
  font-family: Trattatello, fantasy;
  font-style: normal;
  font-size: 44px;
  height: 200px;
  border: 15px ridge #CFCFCF;
  text-align:center;
}

.nav-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: right !important;
}



.flex-grid {
  display: flex;
  justify-content: right !important;
  margin: 20px 0 20px auto;
  padding: 0%;
  font-size: 30px;
  font-weight: bold;
  width: 950px;
  height: 200px;
}

.box:hover {
  background-color: 00FFD8;
  box-shadow: rgba(255, 88, 144, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.link {
  display: flex;
  width: 950px;
  height: 200px;
  align-items: center;
  justify-content: center;
}

#about-me {
  background-image: url("../chic.jpg");
  background-size: 500px 200px;
}
#about-me-header {
  font-size:60px;
  font-family: sans-serif;
}

.about-me-article {
  width:auto;
  height:auto;
  background-color: pink;
  }

#contact-information-header {
  font-size:60px;
  font-family: sans-serif;
}

#contact-information {
  background-image: url("../chic.jpg");
  background-size: 500px 200px;
}

.contact-information-article {
  width:auto;
  height:auto;
  background-color: slategray;

}

#professional-links-header {
  font-size:60px;
  font-family: sans-serif;
}

.professional-links-article {
  width:auto;
  height:auto;
  background-color: slategray;

}

#work-header {
  font-size:60px;
  font-family: sans-serif;
}
.work-article {
  width:auto;
  height:auto;
  background-color: slategray;

}

#professional-links {
  background-image: url("../chic.jpg");
  background-size: 500px 200px;
}

#work {
  background-image: url("../chic.jpg");
  background-size: 500px 200px;
}

.layout {
  display:flex;
}

a {
  text-decoration: none;
  color:#FF00D8;
}